body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .aboutDetails {
    position: absolute;
    left: 20%;
    top: 200px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .aboutDetails {
    position: absolute;
    left: 20%;
    top: 200px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 1350px) {
  .aboutDetails {
    position: absolute;
    left: 20%;
    top: 200px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .aboutDetails {
    font-size: 20px;
  }
}

.aboutDetails {
  width: 78%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
}
.home-background {
  height: 100vh;
  width: 100.15%;
  margin-top: -22px;
  margin-left: -1px;
}
.background-img {
  background-image: url("https://lh3.googleusercontent.com/6gK37of5J6fG2YK_W4xTarOMu6VM3CULOw8idbi3r426_CwmjM2pXmuqh3w=w2400");
  background-size: 100% 100vh;
  background-repeat: no-repeat;

  filter: blur(1px);
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .name {
    font-size: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .name {
    font-size: 90px;
  }
}
@media only screen and (max-width: 800px) {
  .name {
    font-size: 50px;
  }
}
.home-text {
  background-color: rgb(233, 233, 233);
  background-color: rgba(247, 244, 244, 0.776);
  color: rgba(14, 143, 172, 0.968);
  font-weight: bold;
  position: absolute;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.explore {
  top: 65%;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  color: rgb(228, 227, 227);

  position: absolute;
  font-family: initial;
  font-size: 35px;
}

.skills-background {
  height: 100vh;
  width: 100%;
  background: rgba(214, 214, 215, 0.817);
  margin-top: -4%;
}

.aboutFont {
  font-size: 70px;
  font-weight: 1000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif, Tahoma, Geneva, Verdana,
    sans-serif;
}

.socialIcons {
  font-size: 30px;
  padding: 10px;
  color: rgba(171, 170, 170, 0.831);
}
.socialIcons:hover {
  color: rgb(255, 255, 255);
  transform: rotate(360deg) scale(1.15);
  transition: 0.2s;
  font-size: 40px;
}
.socialIconsContact {
  font-size: 30px;
  padding-right: 20px;
  color: rgba(26, 26, 26, 0.831);
}
.socialIconsContact:hover {
  color: rgb(92, 127, 216);
  transform: rotate(360deg) scale(1.15);
  transition: 0.2s;
}
.project-tile {
  background-color: black;
}
.img {
}
.img2 {
}
td {
  padding: 30px;
  text-align: center;
  color: black;
}
.no-decoration {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.762);
}
.no-decoration:hover {
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s;
}
.head-color {
  background: rgba(36, 35, 35, 0.995);
  color: white;
}
.body-color {
  background: rgba(196, 193, 193, 0.865);
  color: rgb(0, 0, 0);
}
.nav-color {
  background: rgba(36, 35, 35, 0.995);
  border-radius: 0;
}
.my-img {
  height: 15%;
  width: 100%;
  border-radius: 50%;
  border-color: white;
  border-width: 1px;
  border: solid;
}
.img-div {
  width: 15%;

  display: inline-block;
  padding-top: 190px;
  margin-right: 2%;
}
@media only screen and (max-width: 1010px) {
  .my-img {
    width: 200px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border: solid;
  }
  .img-div {
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 50px;
    margin-right: 0%;
  }
  .aboutDetails {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 300px;
    font-size: 20px;
  }
}

.about {
  background-color: rgb(41, 66, 109);
  height: 100vh;
  width: 100%;
  color: rgba(255, 255, 255, 0.68);
  margin-top: -80px;
  padding-left: 2%;
}
.info {
  position: absolute;
  top: 10%;
  left: 30%;
  color: black;
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .info {
    top: 12%;
  }
}

@media only screen and (min-width: 1200px) {
  .info {
    top: 10%;
  }
}
@media only screen and (max-width: 800px) {
  .info {
    top: 25%;
    left: -0.1%;
  }
}

.td-left {
  text-align: left;
}
.contact {
  height: 100vh;
  width: 100%;

  background-image: url("https://lh6.googleusercontent.com/GeISoQ9mRk2mMiNiQgx-YB0EZ9bsDl5DQw0t1Z6aI_Kt1v8LPCxCp5JQsh4=w2400");
  background-size: 100% 100vh;
  background-repeat: no-repeat;

  margin-top: -4%;
}
.video:hover {
  color: rgb(30, 103, 86);
}
.close {
  color: black;
}
.close:hover {
  color: red;
}
.contact-heading {
  padding-left: 6%;
}
.box {
  width: 100%;
  position: relative;
  height: 60%;
  margin-top: 80px;
}
